In [1]:
#Dependencies
import pandas as pd
import gmaps
import requests
import matplotlib.pyplot as plt
#API Key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hilo,US,2021-04-14 15:23:19,19.7297,-155.0900,64.40,68,1,5.75
1,1,Cape Town,ZA,2021-04-14 15:24:36,-33.9258,18.4232,71.01,73,0,16.11
2,2,Alofi,NU,2021-04-14 15:23:48,-19.0595,-169.9187,64.40,100,40,4.83
3,3,Klaksvik,FO,2021-04-14 15:25:48,62.2266,-6.5890,46.40,87,40,11.50
4,4,Yellowknife,CA,2021-04-14 15:25:48,62.4560,-114.3525,32.00,69,20,6.91

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
#Loop through and remove negative Max Temps
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
#Ask customer for min and max temp inputs
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
#Filter dataset for preferences
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] >= min_temp) &
                                       (city_data_df["Max Temp"] <= max_temp)].dropna()

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
14,14,Rawson,AR,2021-04-14 15:25:52,-43.3002,-65.1023,76.68,32,44,16.67
16,16,Lata,PT,2021-04-14 15:25:53,40.1629,-8.3327,78.01,51,100,2.35
17,17,Rikitea,PF,2021-04-14 15:25:53,-23.1203,-134.9692,77.18,73,5,6.24
23,23,Bac Lieu,VN,2021-04-14 15:25:55,9.2850,105.7244,83.61,70,69,8.59
28,28,Janakpur,NP,2021-04-14 15:25:57,26.7183,85.9065,88.79,9,12,5.08
33,33,Mbandaka,CD,2021-04-14 15:25:59,0.0487,18.2603,86.59,52,66,2.64
41,41,Panaba,MX,2021-04-14 15:21:15,21.2833,-88.2667,88.12,42,7,13.69
43,43,Beloha,MG,2021-04-14 15:26:03,-25.1667,45.0500,77.07,73,9,13.80
44,44,Belmonte,BR,2021-04-14 15:26:03,-15.8631,-38.8828,78.80,69,75,8.05
46,46,Samana,DO,2021-04-14 15:24:39,19.2056,-69.3369,80.60,78,40,9.22

In [20]:
#check for nulls
preferred_cities_df.count()

City_ID       180
City          180
Country       180
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [21]:
#Hotal DF
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

        City Country  Max Temp      Lat       Lng Hotel Name
14    Rawson      AR     76.68 -43.3002  -65.1023
16      Lata      PT     78.01  40.1629   -8.3327
17   Rikitea      PF     77.18 -23.1203 -134.9692
23  Bac Lieu      VN     83.61   9.2850  105.7244
28  Janakpur      NP     88.79  26.7183   85.9065
33  Mbandaka      CD     86.59   0.0487   18.2603
41    Panaba      MX     88.12  21.2833  -88.2667
43    Beloha      MG     77.07 -25.1667   45.0500
44  Belmonte      BR     78.80 -15.8631  -38.8828
46    Samana      DO     80.60  19.2056  -69.3369

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    #Grab first hotel and store name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [24]:
hotel_df.head()

        City Country  Max Temp      Lat       Lng                  Hotel Name
14    Rawson      AR     76.68 -43.3002  -65.1023           Hosteria Sampedro
16      Lata      PT     78.01  40.1629   -8.3327                 Casa Maquia
17   Rikitea      PF     77.18 -23.1203 -134.9692              Pension Maro'i
23  Bac Lieu      VN     83.61   9.2850  105.7244  Khách sạn Sài Gòn Bạc Liêu
28  Janakpur      NP     88.79  26.7183   85.9065           Hotel Sita Palace

In [26]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
#Set info boxes
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))